<!DOCTYPE html>
<html>
  <%- include('header', {title: `Auctions of ${name} | Skyblock Item Prices List`, script: 'auctions-script-withid'}); %>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Skyblock Item Prices List</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li style='font-size: 10px;'>All auctions are updated every 1 hour for avoid abusing APIs.&nbsp;･&nbsp;In active auctions list, Average Price shows results from past 10 minutes. &nbsp;&nbsp;&nbsp;</li>
          <li><input id="search" type="text" oninput="receivedInput();" placeholder="Search" size="50"></input></li>
        </ul>
      </div>
    </nav>
    <br />
    <div class="row container">
      <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s3"><a href="#allAuctions">All</a></li>
            <li class="tab col s3"><a class="active" href="#activeAuctions">Active</a></li>
          </ul>
        </div>
      </div>
      <div id="allAuctions" class="col s12">
        <p>Total auctions: <%= auctionsRawCount %></p>
        <div style="overflow:auto;">
          <table id="allTable">
            <tr>
              <th>Item Name</th>
              <th>Highest Bid</th>
              <th>Bids</th>
              <th>Ends in</th>
            </tr>
          </table>
        </div>
      </div>
      <div id="activeAuctions" class="col s12">
        <p>Total auctions: <%= auctionsCount %></p>
        <div style="overflow:auto;">
          <table id="table">
            <tr>
              <th>Item Name</th>
              <th>Highest Bid</th>
              <th>Bids</th>
              <th>Ends in</th>
            </tr>
          </table>
        </div>
      </div>
      <div style="display: none;">
        <table id="hiddenTable">
          <tr>
            <th>Item Name</th>
            <th>Highest Bid</th>
            <th>Bids</th>
            <th>Ends in</th>
          </tr>
        </table>
      </div>
      <script type="text/javascript">
        const hiddenTable = document.getElementById('hiddenTable')
        const table = document.getElementById('table')
        auctions.forEach(auction => {
          const tr = document.createElement('tr')
          const itemName = document.createElement('td')
          const aItemName = document.createElement('a')
          aItemName.href = `/auction/${auction.auctionId}`
          aItemName.textContent = htmlDecode(auction.displayName)
          itemName.appendChild(aItemName)
          const highestBid = document.createElement('td')
          highestBid.textContent = htmlDecode(auction.currentBid.toLocaleString())
          const bids = document.createElement('td')
          bids.textContent = htmlDecode(auction.bids.toLocaleString())
          const endsIn = document.createElement('td')
          endsIn.textContent = htmlDecode(auction.end)
          tr.appendChild(itemName)
          tr.appendChild(highestBid)
          tr.appendChild(bids)
          tr.appendChild(endsIn)
          table.appendChild(tr)
        })
        const allTable = document.getElementById('allTable')
        auctionsRaw.forEach(auction => {
          const tr = document.createElement('tr')
          const itemName = document.createElement('td')
          const aItemName = document.createElement('a')
          aItemName.href = `/auction/${auction.auctionId}`
          aItemName.textContent = htmlDecode(auction.displayName)
          itemName.appendChild(aItemName)
          const highestBid = document.createElement('td')
          highestBid.textContent = htmlDecode(auction.currentBid.toLocaleString())
          const bids = document.createElement('td')
          bids.textContent = htmlDecode(auction.bids.toLocaleString())
          const endsIn = document.createElement('td')
          endsIn.textContent = htmlDecode(auction.end)
          tr.appendChild(itemName)
          tr.appendChild(highestBid)
          tr.appendChild(bids)
          tr.appendChild(endsIn)
          allTable.appendChild(tr)
        })
        const tabs = document.getElementsByClassName("tabs")
        for (let index = 0; index < tabs.length; index++) {
          M.Tabs.init(tabs.item(index));        
        }
        function receivedInput() {
          const value = document.getElementById('search').value.toLowerCase()
          document.getElementById("table").innerHTML = hiddenTable.innerHTML
          document.getElementById("allTable").innerHTML = hiddenTable.innerHTML
          auctions.forEach(auction => {
            if (auction.displayName.toLowerCase().includes(value)) {
              const tr = document.createElement('tr')
              const itemName = document.createElement('td')
              const aItemName = document.createElement('a')
              aItemName.href = `/auction/${auction.auctionId}`
              aItemName.textContent = htmlDecode(auction.displayName)
              itemName.appendChild(aItemName)
              const highestBid = document.createElement('td')
              highestBid.textContent = htmlDecode(auction.currentBid.toLocaleString())
              const bids = document.createElement('td')
              bids.textContent = htmlDecode(auction.bids.toLocaleString())
              const endsIn = document.createElement('td')
              endsIn.textContent = htmlDecode(auction.end)
              tr.appendChild(itemName)
              tr.appendChild(highestBid)
              tr.appendChild(bids)
              tr.appendChild(endsIn)
              table.appendChild(tr)
            }
          })
          auctionsRaw.forEach(auction => {
            if (auction.displayName.toLowerCase().includes(value)) {
              const tr = document.createElement('tr')
              const itemName = document.createElement('td')
              const aItemName = document.createElement('a')
              aItemName.href = `/auction/${auction.auctionId}`
              aItemName.textContent = htmlDecode(auction.displayName)
              itemName.appendChild(aItemName)
              const highestBid = document.createElement('td')
              highestBid.textContent = htmlDecode(auction.currentBid.toLocaleString())
              const bids = document.createElement('td')
              bids.textContent = htmlDecode(auction.bids.toLocaleString())
              const endsIn = document.createElement('td')
              endsIn.textContent = htmlDecode(auction.end)
              tr.appendChild(itemName)
              tr.appendChild(highestBid)
              tr.appendChild(bids)
              tr.appendChild(endsIn)
              allTable.appendChild(tr)
            }
          })
        }
      </script>
    </div>
  </body>
</html>